name: CI

on:
  workflow_dispatch:
  pull_request:

jobs:
  validate:
    name: Validate
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, windows-2025]

    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup

      - run: pnpm exec tsx scripts/download-binaries.ts
      - run: pnpm build:wrappers
      - run: pnpm validate
      - run: git diff --exit-code

  build:
    uses: ./.github/workflows/build.yaml
